
# ignore pattern
cscope.*

config.*
*.o
*.lo
*.la

# ignore dir
.SpaceVim.d/
node_modules/

m4/
build-aux/
autom4te.cache/
.deps
src/.libs/

# ignore file
.clang
cscope_ctags.sh
tags

configure
configure.scan
autoscan.log
Makefile.in
Makefile
aclocal.m4
libtool
stamp-h1
src/linux/.dirstamp
example/demo






